{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mt-4">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'expenses' %}">Expenses</a></li>
          <li class="breadcrumb-item active" aria-current="page">Edit Expenses</li>
        </ol>
    </nav>
    
    <div class="card">
        
        <div class="card-body">
            <form action="{% url 'expense_edit' expense.id  %}" method="post">

                {% csrf_token %}
                {% include 'partials/_messages.html' %}
                <!--Amount-->
                <div class="form-group">
                    <label for="">Amount</label>
                    <input 
                     type="number" 
                     class="form-control form-control-sm" 
                     name="amount"
                     value="{{values.amount}}"
                    />
                </div>

                <!--Description-->
                <div class="form-group mt-3">
                    <label for="">Description</label>
                    <input 
                     type="text" 
                     class="form-control form-control-sm" 
                     name="description"
                     value="{{values.description}}"
                    />
                </div>

                <!--Category-->
                <div class="form-group mt-3">
                    <label for="">Category</label>
                    <select class="form-control" name="category">
                       {% for category in categories %}
                       <option name="category" valu e="{{ category.name }}" {% if category.name == values.category %}selected{% endif %}>
                        {{ category.name }}
                       </option>
                       {% endfor %}
                    </select>
                </div>

                <!--Date Of Expense-->
                <div class="form-group mt-3">
                    <label for="">Date Of Expense</label>
                    <input 
                    type="date" 
                    class="form-control form-control-sm" 
                    name="expense_date" 
                    value="{{ values.date|date:'Y-m-d' }}"
                    />
                </div>

                <!--Submit-->
                <input type="submit" value="Save" class="btn btn-primary btn-primary-sm mt-3">
            </form>
        </div>
    </div>



</div>


{% endblock %}