
{% extends 'base_auth.html' %}
{% load static %}

{% block content %}


<div class="centered-container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="card login-card">
                <div class="card-body">
                    <div class="card-title py-3">
                        <h4>Register for free account</h4>
                    </div>
                    <form action="{% url 'register' %}" method="post" id="formId">
                        {% csrf_token %}
                        {% include 'partials/_messages.html' %}
                        <div class="form-group mb-3">
                            <input 
                            type="text" 
                            name="username"
                            placeholder="Username"
                            id="usernamefield"
                            value="{{ fieldValues.username }}"
                            class="form-control form-control-sm"
                            required 
                            />
                        </div>
                        <div class="invalid-feedback invalid-feedback" style="display: none;"></div>
                        <p class="text-sn text-success usernameSuccessOutput"></p>
        
                        <div class="form-group mb-3">
                            <input 
                            type="email" 
                            name="email"
                            placeholder="Email"
                            id="emailField"
                            value="{{ fieldValues.email }}"
                            class="form-control form-control-sm"
                            required
                            />
                        </div>
                        <div class="invalid-email-feedback invalid-feedback" style="display: none;"></div>
                        <p class="text-sn text-success emailSuccessOutput"></p>
        
                        <div class="form-group mb-3">
                            <input 
                            type="password" 
                            name="password"
                            placeholder="Password"
                            id="passwordField" 
                            class="form-control form-control-sm" 
                            required
                            />
                           <small class="float-end py-3 showPasswordToggle ">SHOW</small>
                        </div>
                        <div class="invalid-password-feedback invalid-feedback" style="display: none;"></div>
                        <!-- <p class="text-sn text-success emailSuccessOutput"></p> -->

                        <div class="justify-content-center submit-btn">
                            <input type="submit" value="Register" class="btn btn-primary w-100" id="register" style="border-radius: 15px;"/>
                        </div>
                    </form>

                    <div class="container">
                        <span class="text-lead lead" style="font-size: 16px;">Have an account?</span><a href="{% url 'login' %}"> Login</a><br>
                        <span class="text-lead lead" style="font-size: 16px;">Forgot Password?</span><a href="{% url 'reset-password' %}"> Reset</a>
                    </div>
                </div>
        </div>
    </div>
</div>


<script src="{% static 'js/register.js' %}"></script>

{% endblock content %} 
