{% extends 'base_auth.html' %}
{% load static %}

{% block content %}

<div class="centered-container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="card login-card">
                <div class="card-body">
                    <div class="card-title py-3">
                        <h4>Set new password</h4>
                    </div>
                    <form action="{% url 'reset-user-password' uidb64 token %}" method="post">
                        {% csrf_token %}
                        {% include 'partials/_messages.html' %}
        
                        <div class="form-group mb-3">
                            <input 
                            type="password" 
                            name="password"
                            placeholder="Password"
                            id="passwordField" 
                            class="form-control form-control-sm" 
                            required
                            />
                           <small class="float-end py-3 showPasswordToggle ">SHOW</small>
                        </div>

                        <!--Confirm password-->
                        <div class="form-group mb-3">
                            <input 
                            type="password" 
                            name="password2"
                            placeholder="Confirm Password"
                            id="passwordField" 
                            class="form-control form-control-sm" 
                            required
                            />
                           <!-- <small class="float-end py-3 showPasswordToggle ">SHOW</small> -->
                        </div>
                        <div class="justify-content-center submit-btn">
                            <input type="submit" value="Submit" class="btn btn-primary w-100" style="border-radius: 15px;"/>
                        </div>
                    </form>

                    <div class="container">
                        <span class="text-lead lead" style="font-size: 16px;">Have an account?</span><a href="{% url 'login' %}"> Login</a><br>
                        <span class="text-lead lead" style="font-size: 16px;">Don't have an account?</span><a href="{% url 'register' %}"> Register</a>
                    </div>
                </div>
        </div>
    </div>
</div>


<script src="{% static 'js/register.js' %}"></script>

{% endblock content %} 
